<ion-view title="List">
	<ion-header-bar class="bar-positive">
		<button class="button button-icon icon ion-navicon" ng-click="returnMain()"></button>
        <div class="item-input-inset" style="width:90%;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </div>
	</ion-header-bar>
	<ion-content>
        <div class="list">
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar1.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar1.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar1.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" ng-click="GoToDetail()">
                <img src="./img/avatar1.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>
	</ion-content>
</ion-view>